@keyframes slideX {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-slideX {
    animation: slideX 0.5s ease-out forwards;
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.5s ease forwards;
  }